aiodns==3.0.0
aiofiles==0.7.0
aiohttp==3.7.4.post0
aiomultiprocess==0.9.0
aiosqlite==0.17.0
appdirs==1.4.4
argcomplete==1.10.0
argon2-cffi==20.1.0
arjun==2.1.41
asgiref==3.4.1
async-generator==1.10
async-timeout==3.0.1
attrs==21.2.0
backcall==0.2.0
backoff==1.11.1
bbrf==1.1.15
bcrypt==3.1.7
beautifulsoup4==4.10.0
bleach==4.0.0
blinker==1.4
boto3==1.18.46
botocore==1.21.46
bs4==0.0.1
censys==2.0.7
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.6
click==8.0.1
colorama==0.4.4
colorclass==2.2.0
commonmark==0.9.1
conda==4.3.16
cryptography==3.3.2
cycler==0.10.0
DateTime==4.3
dnspython
Flask==2.0.1
gunicorn
h8mail==2.5.5
html5lib==1.1
httplib2==0.18.1
idna==3.2
importlib-metadata==4.8.1
ipwhois==1.2.0
netaddr==0.8.0
notebook==6.4.1
numpy==1.21.2
pandas==1.3.2
pandocfilters==1.4.3
pyOpenSSL==20.0.1
PySocks==1.7.1
python-whois==0.7.3
python-whois-extended==0.7.12
python-xlib==0.29
pythondialog==3.5.1
qtconsole==5.2.1
QtPy==1.11.2
regex==2021.11.10
requests==2.26.0
requests-futures==1.0.0
scikit-learn==1.0
scipy==1.7.1
seaborn==0.11.2
selenium==3.141.0
shodan==1.25.0
simplejson==3.17.2
six==1.16.0
sklearn==0.0
unicorn==1.0.3
urllib3==1.26.7
websockets==9.1
whois==0.9.13
xdg==5
xgboost==1.4.2


